body {

	margin:0;
}


header{
	background:#999;
	color: white;
	padding: 5px 5px;
}

header h1{
	margin:0;
	display: inline;

}

nav ul{
	margin:0;
	display: inline;
	padding: 0 0 0 5px
}

nav ul li{
	background: black;
	color: white;
	list-style-type: none;
	display: inline-block;
	margin: 0px 10px;
}


